/* result.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}
